:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    
    /*line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
    --COLOR-GRAY: #333333;
    --COLOR-GRAY-DARK: #222222;
    --COLOR-GRAY-LIGHT: #cccccc;
    --COLOR-ONGOING: #98c1d9;
    --COLOR-DONE: #ee6c4d;
}

body {
    margin: 0;
}
*{
  box-sizing: border-box;
}
